appdirs==1.4.4
autopep8==1.6.0
brainflow==5.0.1
certifi==2022.6.15
charset-normalizer==2.0.12
cycler==0.11.0
decorator==5.1.1
fonttools==4.33.3
idna==3.3
Jinja2==3.1.2
kiwisolver==1.4.3
MarkupSafe==2.1.1
matplotlib==3.5.2
mne==1.0.3
nptyping==1.4.4
numpy==1.23.0
packaging==21.3
pandas==1.4.3
Pillow==9.1.1
pkg_resources==0.0.0
pooch==1.6.0
pycodestyle==2.8.0
pyparsing==3.0.9
pyqtgraph==0.12.4
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.0
SciPy==1.8.1
six==1.16.0
toml==0.10.2
tqdm==4.64.0
typish==1.9.3
urllib3==1.26.9
